#chat-box {
  position: relative;

  width: 1000px;
  height: calc(100vh - 200px); /* header와 footer의 높이를 고려하여 높이를 설정 */
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  background-color: #f9f9f9;
}

.chat-header {
  background-color: #f0f0f0;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.chat-header h4 {
  margin: 0;
}

#close-chat {
  float: right;
  margin-top: -5px;
}

.chat-body {
  padding: 10px;
}

#messages {
  height: 250px;
  overflow-y: auto;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

.message {
  margin-bottom: 10px;
  padding: 10px;
  border-bottom: 1px solid #ccc;
}

.sent {
  background-color: #dff0d8;
}

.received {
  background-color: #f9f9f9;
}

.input-group {
  margin-top: 10px;
}

#message-input {
  width: 70%;
  height: 30px;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

#send-button {
  width: 20%;
  height: 30px;
  margin-left: 10px;
}

#delete-button {
  width: 10%;
  height: 30px;
  margin-left: 10px;
}

.message-left {
  text-align: left; /* 왼쪽 정렬 */
  background-color: #f1f1f1; /* 배경색 설정 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 10px; /* 패딩 추가 */
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
  max-width: 70%; /* 최대 너비 설정 */
  clear: both; /* 이전 요소와 겹치지 않도록 설정 */
}

.message-right {
  text-align: right; /* 오른쪽 정렬 */
  background-color: #dff0d8; /* 배경색 설정 */
  border-radius: 5px; /* 모서리 둥글게 */
  padding: 10px; /* 패딩 추가 */
  margin-bottom: 10px; /* 아래쪽 여백 추가 */
  max-width: 70%; /* 최대 너비 설정 */
  float: right; /* 오른쪽으로 정렬 */
}
		